<h3>Organizations</h3>
{{selectable-list 
    listItems=organizations 
    itemClick="handleClick"
    createNewClick="createNew"
    showModal="showModal"
}}

{{!-- <div id="checkboxes">
  <label>some label</label>
  <ul>
    <li><label><input type="checkbox"></label> checkbox 1</li>
    <li><input type="checkbox"> checkbox 2</li>
    <li><input type="checkbox"> checkbox 3</li>
    <li><input type="checkbox"> checkbox 4</li>
  </ul>
</div> --}}

{{#editable-message selection=selection}}
    Messages
{{/editable-message}}